* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; 
	/* cursor: url(https://i.imgur.com/AWuT4Fl.gif), auto;  */
	/* cursor: url(https://i.imgur.com/c1h6nDu.png), auto;  */
	/* cursor: url(https://i.imgur.com/fCnwXX7.gif), auto;  */
} /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

body{
	text-align: center;
	overflow: hidden;
}


#game{	
	position: relative;	
	margin:0 auto;		
}

.cnv{
	position: absolute;
	top: 0px;
	left: 0px;	
	border-style: solid;	
}

#canvasFood{
	background-color: transparent;
	z-index: 2;
}

#canvasHex{
	background-image: url("../assets/dente.jpg"), linear-gradient(180deg, rgba(215,115,117,1) 50%, rgba(185,86,91,1) 50%);
	background-repeat: repeat-x;
	background-position: center;
	z-index: 1;	
}

#canvasSnake{	
	background-color: transparent;
	z-index: 3;
}

.hdn {
	visibility: hidden !important;
	display: none !important;
}
