* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

body{
	text-align: center;
	overflow: hidden;
}


#game{	
	position: relative;	
	margin:0 auto;		
}

.cnv{
	position: absolute;
	top: 0px;
	left: 0px;	
	border-style: solid;	
}

#canvasFood{
	background-color: transparent;
	z-index: 2;
}

#canvasHex{
	background-color: black;
	z-index: 1;	
}

#canvasSnake{	
	background-color: transparent;
	z-index: 3;
}
